

.board {
    display: inline-block;
    border: 1px solid black;
}
.board-row {
    display: flex;
}
.cell {
    border: 2px dotted white;
    width: 16px;
    height: 16px;
}

.cell.snake {
    border-color: green;
    background: #af0;
}

.cell.snake.hit-the-wall, .cell.snake.hit-itself {
    border-color: red;
    background:  #f99;
}

.cell.snake.hit-itself {
    border-style: solid;
}

.cell.food {
    background-color: green;
}

h3, p {
    margin: 0;
}

.buttons {
    text-align: center;
    margin: 10px;
}